mixin advert-one
    div(class = "page-main__advert-one advert-one")
        div(class="advert-one__img-wrap")
            img(class="advert-one__img" src="../img/map.png", alt="111" width="210" height="147")
        div(class="advert-one__description")
            a(class="advert-one__title" href="./single-card") Название объявления
            div(class = "advert-one__cost") 5700
                span(class = "advert-one__currency") USD
            div(class = "advert-one__partition") Категория
            div(class = "advert-one__bidding") Торг
            div(class = "advert-one__location") Москва
            div(class = "advert-one__date") Дата
            