doctype html

html(lang="ru")

  head

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title index page
    link(rel="preload" href="fonts/Roboto.woff2" as="font")
    link(rel="preload" href="fonts/Robotolight.woff2" as="font")
    link(rel="preload" href="fonts/Robotomedium.woff2" as="font")
    link(type="text/css", rel="stylesheet", href="css/adverts-mobile.css")
    

  body

    svg(version="1.1" style="display:none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        symbol(id="icon-hamburger" viewBox="0 0 424 424")
            title hamburger
            path(d="M35,89C15,89,0,74,0,54s15-36,35-36h353c20,0,36,16,36,36s-16,35-36,35H35z")
            path(d="M388,176c20,0,36,16,36,36s-16,35-36,35H35c-20,0-35-15-35-35s15-36,35-36H388z")
            path(d="M388,335c20,0,36,15,36,35s-16,36-36,36H35c-20,0-35-16-35-36s15-35,35-35H388z")

        symbol(id="icon-user" viewBox="0 0 55 55")
            title user
            path(d="M55,27.5C55,12.337,42.663,0,27.5,0S0,12.337,0,27.5c0,8.009,3.444,15.228,8.926,20.258l-0.026,0.023l0.892,0.752c0.058,0.049,0.121,0.089,0.179,0.137c0.474,0.393,0.965,0.766,1.465,1.127c0.162,0.117,0.324,0.234,0.489,0.348c0.534,0.368,1.082,0.717,1.642,1.048c0.122,0.072,0.245,0.142,0.368,0.212c0.613,0.349,1.239,0.678,1.88,0.98c0.047,0.022,0.095,0.042,0.142,0.064c2.089,0.971,4.319,1.684,6.651,2.105c0.061,0.011,0.122,0.022,0.184,0.033c0.724,0.125,1.456,0.225,2.197,0.292c0.09,0.008,0.18,0.013,0.271,0.021C25.998,54.961,26.744,55,27.5,55c0.749,0,1.488-0.039,2.222-0.098c0.093-0.008,0.186-0.013,0.279-0.021c0.735-0.067,1.461-0.164,2.178-0.287c0.062-0.011,0.125-0.022,0.187-0.034c2.297-0.412,4.495-1.109,6.557-2.055c0.076-0.035,0.153-0.068,0.229-0.104c0.617-0.29,1.22-0.603,1.811-0.936c0.147-0.083,0.293-0.167,0.439-0.253c0.538-0.317,1.067-0.648,1.581-1c0.185-0.126,0.366-0.259,0.549-0.391c0.439-0.316,0.87-0.642,1.289-0.983c0.093-0.075,0.193-0.14,0.284-0.217l0.915-0.764l-0.027-0.023C51.523,42.802,55,35.55,55,27.5z M2,27.5C2,13.439,13.439,2,27.5,2S53,13.439,53,27.5c0,7.577-3.325,14.389-8.589,19.063c-0.294-0.203-0.59-0.385-0.893-0.537l-8.467-4.233c-0.76-0.38-1.232-1.144-1.232-1.993v-2.957c0.196-0.242,0.403-0.516,0.617-0.817c1.096-1.548,1.975-3.27,2.616-5.123c1.267-0.602,2.085-1.864,2.085-3.289v-3.545c0-0.867-0.318-1.708-0.887-2.369v-4.667c0.052-0.519,0.236-3.448-1.883-5.864C34.524,9.065,31.541,8,27.5,8s-7.024,1.065-8.867,3.168c-2.119,2.416-1.935,5.345-1.883,5.864v4.667c-0.568,0.661-0.887,1.502-0.887,2.369v3.545c0,1.101,0.494,2.128,1.34,2.821c0.81,3.173,2.477,5.575,3.093,6.389v2.894c0,0.816-0.445,1.566-1.162,1.958l-7.907,4.313c-0.252,0.137-0.502,0.297-0.752,0.476C5.276,41.792,2,35.022,2,27.5z M42.459,48.132c-0.35,0.254-0.706,0.5-1.067,0.735c-0.166,0.108-0.331,0.216-0.5,0.321c-0.472,0.292-0.952,0.57-1.442,0.83c-0.108,0.057-0.217,0.111-0.326,0.167c-1.126,0.577-2.291,1.073-3.488,1.476c-0.042,0.014-0.084,0.029-0.127,0.043c-0.627,0.208-1.262,0.393-1.904,0.552c-0.002,0-0.004,0.001-0.006,0.001c-0.648,0.16-1.304,0.293-1.964,0.402c-0.018,0.003-0.036,0.007-0.054,0.01c-0.621,0.101-1.247,0.174-1.875,0.229c-0.111,0.01-0.222,0.017-0.334,0.025C28.751,52.97,28.127,53,27.5,53c-0.634,0-1.266-0.031-1.895-0.078c-0.109-0.008-0.218-0.015-0.326-0.025c-0.634-0.056-1.265-0.131-1.89-0.233c-0.028-0.005-0.056-0.01-0.084-0.015c-1.322-0.221-2.623-0.546-3.89-0.971c-0.039-0.013-0.079-0.027-0.118-0.04c-0.629-0.214-1.251-0.451-1.862-0.713c-0.004-0.002-0.009-0.004-0.013-0.006c-0.578-0.249-1.145-0.525-1.705-0.816c-0.073-0.038-0.147-0.074-0.219-0.113c-0.511-0.273-1.011-0.568-1.504-0.876c-0.146-0.092-0.291-0.185-0.435-0.279c-0.454-0.297-0.902-0.606-1.338-0.933c-0.045-0.034-0.088-0.07-0.133-0.104c0.032-0.018,0.064-0.036,0.096-0.054l7.907-4.313c1.36-0.742,2.205-2.165,2.205-3.714l-0.001-3.602l-0.23-0.278c-0.022-0.025-2.184-2.655-3.001-6.216l-0.091-0.396l-0.341-0.221c-0.481-0.311-0.769-0.831-0.769-1.392v-3.545c0-0.465,0.197-0.898,0.557-1.223l0.33-0.298v-5.57l-0.009-0.131c-0.003-0.024-0.298-2.429,1.396-4.36C21.583,10.837,24.061,10,27.5,10c3.426,0,5.896,0.83,7.346,2.466c1.692,1.911,1.415,4.361,1.413,4.381l-0.009,5.701l0.33,0.298c0.359,0.324,0.557,0.758,0.557,1.223v3.545c0,0.713-0.485,1.36-1.181,1.575l-0.497,0.153l-0.16,0.495c-0.59,1.833-1.43,3.526-2.496,5.032c-0.262,0.37-0.517,0.698-0.736,0.949l-0.248,0.283V39.8c0,1.612,0.896,3.062,2.338,3.782l8.467,4.233c0.054,0.027,0.107,0.055,0.16,0.083C42.677,47.979,42.567,48.054,42.459,48.132z")

        symbol(id="icon-left" viewBox="0 0 240.823 240.823")
            title back
            path(d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816C52.942,116.507,52.942,124.327,57.633,129.007z")

        symbol(id="icon-right" viewBox="0 0 451.846 451.847")
            title right
            path(d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z")

        symbol(id="icon-location" viewBox="0 0 255.856 255.856")
            title location
            path(d="M127.928,38.8c-30.75,0-55.768,25.017-55.768,55.767s25.018,55.767,55.768,55.767s55.768-25.017,55.768-55.767S158.678,38.8,127.928,38.8z M127.928,135.333c-22.479,0-40.768-18.288-40.768-40.767S105.449,53.8,127.928,53.8s40.768,18.288,40.768,40.767S150.408,135.333,127.928,135.333z")
            path(d="M127.928,0C75.784,0,33.362,42.422,33.362,94.566c0,30.072,25.22,74.875,40.253,98.904c9.891,15.809,20.52,30.855,29.928,42.365c15.101,18.474,20.506,20.02,24.386,20.02c3.938,0,9.041-1.547,24.095-20.031c9.429-11.579,20.063-26.616,29.944-42.342c15.136-24.088,40.527-68.971,40.527-98.917C222.495,42.422,180.073,0,127.928,0zM171.569,181.803c-19.396,31.483-37.203,52.757-43.73,58.188c-6.561-5.264-24.079-26.032-43.746-58.089c-22.707-37.015-35.73-68.848-35.73-87.336C48.362,50.693,84.055,15,127.928,15c43.873,0,79.566,35.693,79.566,79.566C207.495,112.948,194.4,144.744,171.569,181.803z")


    div(class="wrapper")
        div(class="header") 

            svg(class="hamburger--svg")
                use(xlink:href="#icon-hamburger") 

            a(class="logo" href="/")
                img(src="img/main-logo.png", alt="logo")

            svg(class="user--svg")
                use(xlink:href="#icon-user")

    div(class="page")
        div(class="wrapper")

            section(class="breadcrumbs")
                svg(class="back--svg")
                    use(xlink:href="#icon-left")
                a(class="link__back--text" href="/") Главная

            section(class="content")
              div(class="title") Объявления

              div(class="search")
                svg(class="location--svg")
                  use(xlink:href="#icon-location")
                form(class="search-form")
                  input(class="search-form__input" type="text" placeholder="Найти" name="search")

              div(class="catalog")
                a(class="prev-item" href="#")
                  svg(class="prev-item__svg")
                    use(xlink:href="#icon-left")
                
                ul(class="list catalog__list")
                  include ./category-icon.pug
                  +category-icon

                a(class="next-item" href="#")
                  svg(class="next-item__svg" href="#")
                    use(xlink:href="#icon-right")

            section(class="content")
                a(class="button button--filters" href="#") Настроить фильтры

                div(class="adverts")
                  ul(class="list")
                    li(class="list__item advert__item")
                      img(class="advert__img" src="")
                      div(class="item__description")
                        a(class="item__star" href="#")
                        div(class="item__title")
                        div(class="item__price")
                        div(class="item__location")
                        div(class="item__date")



                





    
    
    
    
    
    
    
    
    
    
    
    
    
    
    //- div(class="page")
    
      header(class="page-header")
        div(class="row page-header__top")
          div(class="content-wrap content-wrap--between")
            a(class="page-header__logo" href="/")
              img(src="img/main-logo.png", alt="main logo" width="128" height="30")

        div(class="page-header__middle")         
          div(class="content-wrap content-wrap--between")
            div(class="page-header__region")
              div Поиск в регионе: 
              a(href="#") Все регионы
            nav(class="site-nav")

              ul(class="site-nav__list")
                
                li(class="site-nav__item site-nav__item--active"): a(href="./adverts") Объявления
                li(class="site-nav__item"): a(href="#") Магазины
                li(class="site-nav__item"): a(href="/services") Услуги
                li(class="site-nav__item"): a(href="#") Помошь

        div(class="row page-header__bottom")
          div(class="content-wrap content-wrap--center")
            form(class="page-header__search form")
              div.row
                label(class="form__label form__label--invisible" for="searchSite") Ссылка на сайт
                input(class="form__item page-header__item-search" type="text" id="searchSite" name="searchSite")
                button(class="btn form__btn" type="submit") Найти  
                
          
      main(class="page-main page-main--index")
        div(class="content-wrap")

          ul(class = "page-main__list catalog catalog--min")
            include ./partition-adv.pug
            +partition-adv
        
          div(class="row")
            div.page-main__adverts-list
              input(type="checkbox" class="page-main__adverts-layout" id="advertsLayout")
              div(class="page-main__label-wrap")
                label(class="page-main__label-layout" for="advertsLayout") 
              include ./advert-one.pug
              +advert-one
              +advert-one
              +advert-one
              +advert-one
              +advert-one
                
              
            div.page-main__filters
              div.page-main__filters-clear Сбросить фильтры
              form.filters(action="")
                fieldset(class="filter-item")
                    legend Стоимость:
                    div(class="range-filter")
                      div(class="range-controls")
                        div(class="scale")
                          div(class="bar" style="margin-left: 20%; width: 30%")
                        div(class="toggle toggle-min")
                        div(class="toggle toggle-max")
                      div(class="price-controls")
                        label(class="min-price") от
                          input(name="min-price" type="text" value="0")
                        label(class="max-price") до
                          input(name="max-price" type="text" value="15000")
              
                fieldset(class="filter-item")
                    legend Lorem:
                    ul(class="grids-filter")
                      li
                        input(class="grid-radio" id="adaptive-grid" type="radio" name="grid-item" value="adaptive") 
                        label(for="adaptive-grid") lorem ipsum
                      li
                        input(class="grid-radio" id="fix-grid" type="radio" name="grid-item" value="fix" checked)
                        label(for="fix-grid") lorem ipsum
                      li
                        input(class="grid-radio" id="flex-grid" type="radio" name="grid-item" value="flex")
                        label(for="flex-grid") lorem ipsum
              
                fieldset(class="filter-item")
                    legend Lorem ipsum
                    ul(class="blocks-filter")
                      li
                        input(class="block-check" id="chkbox-slider" type="checkbox" name="chkbox-slider")
                        label(for="chkbox-slider") lorem ipsum
                      li
                        input(class="block-check" id="chkbox-features" type="checkbox" name="chkbox-features")
                        label(for="chkbox-features") lorem ipsum
                      li
                        input(class="block-check" id="chkbox-news" type="checkbox" name="chkbox-news")
                        label(for="chkbox-news") lorem ipsum
                
                button(class="btn catalog-btn" type="submit" name="filter-btn") Показать

      footer(class="page-footer")
        div(class="content-wrap")
          div(class="row")
          
            nav(class="site-nav")

              ul(class="site-nav__list page-footer__list")
                li(class="site-nav__item"): a(href="#") Ads
                li(class="site-nav__item"): a(href="./services") Services
                li(class="site-nav__item"): a(href="#") Advertisign
                li(class="site-nav__item"): a(href="#") Contact us

          div(class="row")
          
            nav(class="site-nav")

              ul(class="site-nav__list page-footer__list")
                
                li(class="site-nav__item"): a(href="#") Shops
                li(class="site-nav__item"): a(href="#") Project blog
                li(class="site-nav__item"): a(href="#") Help
                li(class="site-nav__item"): a(href="#") Sitemap
                li(class="site-nav__item"): a(href="./terms-of-use") Agreement

            div(class="page-footer__lang")
              div Язык:
              a(href="#") Русский
