doctype html

html(lang="ru")

  head

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title index page
    link(rel="preload" href="fonts/Roboto.woff2" as="font")
    link(rel="preload" href="fonts/Robotolight.woff2" as="font")
    link(rel="preload" href="fonts/Robotomedium.woff2" as="font")
    link(type="text/css", rel="stylesheet", href="css/rdn-style.css")
    

  body
    div(class="page")
    
      header(class="page-header")
        div(class="row page-header__top")
          div(class="content-wrap content-wrap--between")
            a(class="page-header__logo" href="/")
              img(src="img/main-logo.png", alt="main logo" width="214" height="50")
            a(class="page-header__user-auth" href="./cabinet") Личный кабинет 
        div(class="row page-header__middle")
          div(class="content-wrap content-wrap--start")
            div(class="page-header__back")
              a(href="index.html") Назад
            h1(class="page-header__title") Открыть магазин
          
      main(class="page-main page-main--new-shop")
        div(class="content-wrap")
          
          form(class="form" action="#" method="post")
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopName") Название
              input(class="form__item" type="text" id="newShopName" name="newShopName" minlength="2" maxlength="70" required)
              span(class="form__annotation" id="NameAnnotation") 70 знаков осталось
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopDescription") Описание
              textarea(class="form__item form__item--textarea" type="text" id="newShopDescription" name="newShopDescription" rows="5" maxlength="4000" required)
              div(class="form__annotation" id="DescriptionAnnotation") 4000 знаков осталось
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopLogo") Логотип
                div(class="form__label-comment") Магазины с логотипом пользуются большим доверием
              <input class="form__item form__item--invisible" type="file" id="newShopLogo" name="newShopLogo" placeholder="200x80">
              label(class="form__label form__label--up-label" for="newShopLogo") 200x80
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopTown") Местоположение
              input(class="form__item" type="text" id="newShopTown" name="newShopTown" placeholder="Введите название города" required)
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopAddress") Адрес магазина
              input(class="form__item" type="text" id="newShopAddress" name="newShopAddress")
            div(class="form__row-wrap")
              img(class="form__map" src="img/map.png", alt="map")
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopPhone") Контакты
              input(class="form__item form__item--shot" type="text" id="newShopPhone" name="newShopPhone" placeholder="Номер телефона")
              div(class="form__add-item")
            div(class="form__row-wrap")
              input(class="form__item form__item--shot" type="text" id="WatsApp" name="WatsApp" placeholder="Wats app")
            div(class="form__row-wrap")
              input(class="form__item form__item--shot" type="text" id="Wiber" name="Wiber" placeholder="Wiber")
            div(class="form__row-wrap")
              input(class="form__item form__item--shot" type="text" id="Telegramm" name="Telegramm" placeholder="Telegramm")
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopSite") Ссылка на сайт
              input(class="form__item form__item--shot" type="text" id="newShopSite" name="newShopSite")  
            div(class="form__row-wrap")
              label(class="form__label form__label--new-shop" for="newShopSocial") Соц сети
              input(class="form__item form__item--shot" type="text" id="newShopSocial" name="newShopSocial" placeholder="Адрес страницы")  
              div(class="form__add-item")
            div(class="form__row-wrap form__row-wrap--submit")  
              a(class="form__cancel") Отмена
              button(class="form__submit btn btn--success" type="submit") Открыть магазин

      footer(class="page-footer")
        div(class="content-wrap")
          div(class="row")
          
            nav(class="site-nav")

              ul(class="site-nav__list page-footer__list")
                li(class="site-nav__item"): a(href="#") Ads
                li(class="site-nav__item"): a(href="./services") Services
                li(class="site-nav__item"): a(href="./adverts") Advertisign
                li(class="site-nav__item"): a(href="#") Contact us

          div(class="row")
          
            nav(class="site-nav")

              ul(class="site-nav__list page-footer__list")
                
                li(class="site-nav__item"): a(href="#") Shops
                li(class="site-nav__item"): a(href="#") Project blog
                li(class="site-nav__item"): a(href="./terms-of-use") Help
                li(class="site-nav__item"): a(href="#") Sitemap
                li(class="site-nav__item"): a(href="#") Agreement

            div(class="page-footer__lang")
              div Язык:
              a(href="#") Русский
