mixin partition-adv
    -
        var categoryList = [
            {title: "Property", src: "property", menu: ["Квартиры", "Дома", "Земля"]},
            {title: "Transport", src: "transport", menu: ["Легковые", "Грузовые", "Мотоциклы"]},
            {title: "Jobs", src: "jobs", menu: []},
            {title: "Business", src: "business", menu: []},
            {title: "Services", src: "services", menu: []},
            {title: "Electronics", src: "electronics", menu: []},
            {title: "DIY & Tools", src: "tools", menu: ["Клеи и герметики","Шкафы и оборудование для шкафов для шкафов для шкафов"]},
            {title: "Animals", src: "animals", menu: []},
            {title: "Home & Garden", src: "home", menu: []},
            {title: "Fashion & Style", src: "fashion", menu: []},
            {title: "Child's world", src: "childs", menu: []},
            {title: "Antiques and collectables", src: "antiques", menu: []},
            {title: "Sport and active leisure", src: "sport", menu: []},
            {title: "Handmade Products", src: "handmade", menu: []},
            {title: "Courses and education", src: "courses", menu: []},
            {title: "Things to do", src: "things", menu: []},
            {title: "Community", src: "community", menu: []},
            {title: "Freebies", src: "freebies", menu: []},
        ];

    for item in categoryList
        li(class = "catalog__item--min")
            div(class = "partition-adv")
                div(class = "partition-adv__header")
                    
                    <svg class="partition-adv__logo" width="40" height="40">
                        <use xlink:href="img/partition/sprite.svg##{item.src}" ></use>
                    </svg>
