doctype html

html(lang="ru")

  head

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title index page
    link(rel="preload" href="fonts/Roboto.woff2" as="font")
    link(rel="preload" href="fonts/Robotolight.woff2" as="font")
    link(rel="preload" href="fonts/Robotomedium.woff2" as="font")
    link(type="text/css", rel="stylesheet", href="css/rdn-style.css")


  body
    div(class="page")

      header(class="page-header")
        div(class="row page-header__top")
          div(class="content-wrap")
            a(class="page-header__logo" href="/")
              img(src="img/main-logo.png", alt="main logo" width="214" height="50")

        div(class="row page-header__middle")
          div(class="content-wrap content-wrap--start")
            div(class="page-header__back")
              a(href="/") Главная
            h1(class="page-header__title") Зарегистрируйтесь на сайте с помощью<br> электронной почты

      main(class="page-main")
        div(class="content-wrap")

          form(class="form reg-form" action="#" method="post")
            div(class="form__row-wrap")
              input(class="form__item" type="email" name="regFormMail" placeholder="Электронная почта" required)
            div(class="form__row-wrap")
              input(class="form__item" type="password" name="regFormPass" placeholder="Пароль" required)
            div(class="form__row-wrap")
              input(class="form__item" type="password" name="regFormPassRepeat" placeholder="Повторите пароль" required)
            div(class="form__row-wrap reg-form__agree-wrap")
              input(class="form__item form__item--invisible reg-form__agree" type="checkbox" name="regFormAgree" id="regFormAgree" required)
              label(class="form__label reg-form__agree-label" for="regFormAgree") Я соглашаюсь с правилами использования сервиса, а также с передачей и обработкой моих данных.
                span *
            div(class="form__row-wrap form__row-wrap--submit")
              button(class="btn" type="submit") Зарегистрироваться

          div(class="social" role="navigation")
            h3(class="social__text") Или через социальную сеть
            div(class="social__wrap" role="list")
              div(class="social__btn")
                a(href="#") Одноклассники
                  img(src="img/ok.png", alt="OK" width="35" height="35")
              div(class="social__btn")
                a(href="#") ВКонтакте
                  img(src="img/vk.png", alt="VK" width="35" height="35")
              div(class="social__btn")
                a(href="#") Facebook
                  img(src="img/fb.png", alt="FB" width="35" height="35")

          div(class="account")
            div(class="account__wrap")
              h4(class="account__title") Вы уже зарегистрированы?
              a(class="btn btn--account" href="#") Войдите на сайт
            div(class="account__wrap")
              h4(class="account__title") Вы забыли свой пароль?
              a(class="btn btn--account" href="#") Восстановить пароль

      footer(class="page-footer")
        div(class="content-wrap")
          div(class="site-nav__wrapper")
            nav(class="site-nav")

              ul(class="site-nav__list page-footer__list")
                li(class="site-nav__item"): a(href="#") Ads
                li(class="site-nav__item"): a(href="#") Services
                li(class="site-nav__item"): a(href="#") Advertisign
                li(class="site-nav__item"): a(href="#") Contact us
                li(class="site-nav__item"): a(href="#") Shops
                li(class="site-nav__item"): a(href="#") Project blog
                li(class="site-nav__item"): a(href="#") Help
                li(class="site-nav__item"): a(href="#") Sitemap
                li(class="site-nav__item"): a(href="#") Agreement
          div(class="page-footer__lang")
            div Язык:
            a(href="#") Русский
