doctype transitional

html(lang = "ru")

  head

    meta(charset = "utf-8")

    title Лоббидо Условия использования

    link(type = "text/css", rel = "stylesheet", href = "/css/styles.css")


  body
    header(class = "main-header")
        div(class = "main-header__top-wrapper")
            div(class = "main-header__wrapper")
                a(class="page-header__logo" href="/")
                    img(src = "/img/lobbido-logo.png", width = "214", height = "50", alt = "Lobbido logo")
                section(class = "main-header__user-block user-block")
                    a(class = "user-block__cabinet", href = "./cabinet") Личный кабинет

    main(class = "terms-of-use")
        div(class = "terms-of-use__top-wrapper")
            div(class = "terms-of-use__wrapper")
                h1(class = "visually-hidden") Лоббидо, площадка для объявлений
                h2(class = "terms-of-use__header") Условия использования
                a(class = "terms-of-use__back", href="/") Назад
        div(class = "terms-of-use__middle-wrapper")
            ul(class = "terms-of-use__list")
                li(class = "terms-of-use__item terms-of-use__item--current")
                    h3 Lorem ipsum
                li(class = "terms-of-use__item")
                    h3 Lorem ipsum
                li(class = "terms-of-use__item")
                    h3 Lorem ipsum
                li(class = "terms-of-use__item")
                    h3 Lorem ipsum
            ul(class = "terms-of-user__content terms")
                li(class = "terms__item terms__item--current")
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum est lorem, id interdum nisl congue a. Aliquam erat volutpat. Vivamus vel sem ipsum. Praesent suscipit nibh massa, quis lobortis enim placerat sit amet. Integer sollicitudin auctor ipsum vel tempor. Aenean cursus, dolor sed lacinia feugiat, velit diam viverra sem, quis imperdiet ipsum ex id lacus. Suspendisse pulvinar odio at arcu sagittis, eu malesuada mauris condimentum. Proin velit metus, tempor id consectetur id, pretium vitae tortor. Suspendisse ut massa non tellus vulputate vehicula eget ac elit. Morbi facilisis fermentum venenatis. Sed eget finibus nisl. Nam vel quam ut nibh faucibus mattis.
                li(class = "terms__item")
                    p Vestibulum et porttitor lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tincidunt, ante condimentum efficitur tincidunt, odio lectus facilisis arcu, vitae accumsan ligula justo eget nunc. Etiam condimentum interdum urna, vel posuere eros aliquet eu. Cras pulvinar purus eget quam mollis consectetur. Sed in aliquet urna. Vivamus tortor erat, suscipit nec gravida ac, varius non velit. Quisque mollis ante dui, ut rhoncus nisl fringilla vel. Vestibulum at elit odio. Proin hendrerit mattis elit, id ornare sem. Etiam fringilla dictum tincidunt. Ut lorem urna, feugiat sit amet nibh non, malesuada pharetra nisl. Quisque hendrerit nibh quam, eget tempor enim porta a. Mauris gravida nulla ex, eu sollicitudin leo fringilla in.
                li(class = "terms__item")
                    p Phasellus velit massa, euismod sit amet nisi eu, interdum consequat justo. Nullam sapien dolor, fermentum vitae ultricies quis, tincidunt id urna. Curabitur a urna urna. Fusce in luctus quam. Vivamus sagittis eros diam, in viverra risus rhoncus eget. Donec ac massa congue, congue justo id, imperdiet arcu. Donec egestas a velit sed ultricies. Donec sodales eget turpis dapibus aliquet. Quisque congue at metus at faucibus. Fusce elementum vitae nibh et laoreet. Quisque ante mi, mollis in purus at, pharetra lacinia nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris non nisi convallis mi varius mollis.
                li(class = "terms__item")
                    p Vestibulum nibh massa, euismod nec volutpat porttitor, porttitor ac mi. Donec efficitur suscipit lacus, ut pharetra orci varius nec. Quisque efficitur in sem sit amet tincidunt. Sed eu arcu at nisi eleifend iaculis a nec est. Phasellus scelerisque libero non sodales aliquam. In accumsan turpis faucibus felis pharetra volutpat. Fusce condimentum nulla at neque interdum, ut maximus massa tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer pharetra risus at tincidunt sagittis.
    div(class = "bottom-wrapper")
        footer(class = "main-footer")
            nav(class = "main-footer__navigation footer-navigation")
                ul(class = "footer-navigation__list")
                    li(class = "footer-navigation__item")
                        a(href = "#") Ads
                    li(class = "footer-navigation__item")
                            a(href = "#") Services
                    li(class = "footer-navigation__item")
                        a(href = "#") Advertising
                    li(class = "footer-navigation__item")
                        a(href = "#") Contact us
                ul(class = "footer-navigation__list")
                    li(class = "footer-navigation__item")
                        a(href = "#") Shops
                    li(class = "footer-navigation__item")
                        a(href = "#") Project blog
                    li(class = "footer-navigation__item")
                        a(href = "#") Help
                    li(class = "footer-navigation__item")
                        a(href = "#") Sitemap
                    li(class = "footer-navigation__item")
                        a(href = "#") Agreement
                    li(class = "footer-navigation__item footer-navigation__item--language")
                        p Язык: #[a(href = "#") Русский]

  script(src = "/js/script.js")
