@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotolight.woff") format("woff"), url("../fonts/robotolight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotoregular.woff") format("woff"), url("../fonts/robotoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%; }

body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  letter-spacing: 0.56px;
  color: #595959; }

a,
input,
button {
  text-decoration: none;
  color: inherit;
  letter-spacing: inherit; }

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;
  list-style-position: outside;
  list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 100%;
  min-height: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%; }

.content-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto; }
  .content-wrap--start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .content-wrap--between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.invisible {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }
  .invisible * {
    display: none; }

.btn {
  padding: 5px 16px;
  font-size: 16px;
  color: #a350bc;
  font-weight: 300;
  background-color: transparent;
  border: 1px solid #a350bc;
  border-radius: 4px; }
  .btn--account {
    font-size: 14px; }
  .btn--success {
    background-color: #b4d826;
    color: #fff;
    border: 1px solid #b4d826; }

.page-main {
  border-top: 1px dashed #d4d4d4; }
  .page-main .content-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .page-main--index {
    padding: 65px 0; }
  .page-main--new-shop {
    padding: 0;
    padding-bottom: 220px; }
  .page-main__adverts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  .page-main__label-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px 0; }
  .page-main__label-layout {
    margin-left: auto;
    margin-right: 10px;
    width: 70px;
    height: 28px;
    background-image: url(../img/sort-1.png), url(../img/sort-2.png);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: left top, right top; }
  .page-main__adverts-layout {
    display: none; }
    .page-main__adverts-layout:checked ~ .advert-one {
      width: 100%;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__img {
        width: 210px;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__description {
        min-width: 250px; }
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__bidding,
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__cost,
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__date {
        display: block;
        width: 25%;
        text-align: right; }
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__partition,
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__title,
      .page-main__adverts-layout:checked ~ .advert-one .advert-one__location {
        display: block;
        width: 75%; }
  .page-main__filters {
    width: 240px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }

.page-header {
  margin-top: 14px;
  margin-bottom: 14px; }
  .page-header__top {
    margin-bottom: 25px; }
  .page-header__logo {
    margin-top: 10px;  
  }
  .page-header__logo img {
    width: 214px;
    height: 50px;
    object-fit: contain;
  }

  .page-header__user-auth {
    color: #a350bc;
    font-size: 14px; }
  .page-header__middle {
    padding: 30px 0 25px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05) 0, #fff 27px, #fff 100%); }
  .page-header__back {
    width: 25%;
    padding-right: 10px;
    font-size: 14px;
    line-height: 12px;
    text-align: right; }
    .page-header__back a {
      position: relative; }
      .page-header__back a::before {
        content: "";
        position: absolute;
        left: -25px;
        display: block;
        width: 11px;
        height: 11px;
        border-bottom: 2px solid #595959;
        border-left: 2px solid #595959;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  .page-header__title {
    margin: 0;
    width: 50%;
    font-size: 20px;
    word-wrap: break-word;
    text-align: center; }
  .page-header__search {
    margin-top: 10px; }
  
  .page-header__item-search {
    margin-right: 20px;
    max-width: 407px;
    min-width: 200px; }
  .page-header__user-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10px;
    width: 253px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #a350bc; }
    .page-header__user-action span {
      margin-left: 4px;
      margin-right: 4px;
      color: #000; }
  .page-header__add {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    width: 253px;
    height: 30px;
    padding-left: 15px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.4px;
    color: #fff;
    border-radius: 4px;
    background-color: #b4d826;
    background-image: url("../img/plus-white.png");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: 10px center; }
  .page-header__login, .page-header__regin {
    text-decoration: underline; }
  .page-header__region {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px; }
    .page-header__region a {
      color: #a350bc;
      text-decoration: underline; }

.page-footer {
  margin-bottom: 35px;
  border-top: 1px dashed #d4d4d4; }
  .page-footer__list {
    margin: 0;
    margin-top: 15px; }
  .page-footer__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 25px;
    margin-left: auto;
    font-size: 14px;
    width: 25%; }
  .page-footer__lang a {
    color: #a350bc; }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 420px; }
  .form__row-wrap {
    margin: 20px 0 10px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%; }
    .form__row-wrap--submit {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 30px; }
  .form__item {
    width: 100%;
    min-height: 30px;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #d4d4d4;
    border-radius: 4px; }
    .form__item:required {
      background-image: url(../img/star.png);
      background-repeat: no-repeat;
      background-position: 96% center; }
    .form__item--textarea:required {
      background-position: 96% 10%; }
    .form__item--invisible {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0; }
      .form__item--invisible * {
        display: none; }
    .form__item--shot {
      max-width: 229px; }
  .form__label {
    font-size: 12px;
    margin-top: 7px; }
    .form__label--invisible {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0; }
      .form__label--invisible * {
        display: none; }
    .form__label--new-shop {
      position: absolute;
      left: -20px;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      max-width: 140px;
      font-size: 14px;
      text-align: right; }
    .form__label--up-label {
      position: relative;
      margin-top: 0;
      border: 1px dashed #595959;
      border-radius: 4px;
      width: 214px;
      height: 72px;
      font-size: 56px;
      color: rgba(163, 80, 188, 0.2);
      text-align: center;
      font-weight: 300;
      background: url(../img/plus.png) no-repeat;
      background-position: center;
      background-size: 17px 17px;
      cursor: pointer; }
      .form__label--up-label::after {
        content: "Максимальный размер 3мб";
        display: block;
        margin-top: 10px;
        font-size: 12px;
        color: rgba(89, 89, 89, 0.5);
        line-height: 12px;
        font-weight: 300; }
  .form__annotation {
    margin: 5px auto 0;
    font-size: 12px;
    color: #a350bc; }
  .form__label-comment {
    margin-top: 5px;
    font-size: 12px;
    color: rgba(89, 89, 89, 0.5); }
  .form__add-item {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    background-image: url(../img/plus.png);
    background-repeat: no-repeat;
    background-position: center center; }
  .form__cancel {
    margin-right: 30px;
    font-size: 16px;
    color: #595959;
    text-decoration: underline; }

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 961px;
  margin: 0 auto; }
  .catalog--min {
    margin: 0;
    margin-bottom: 32px;
    max-width: 1140px;
    width: 100%; }
  .catalog__item {
    width: 160px; }
    .catalog__item--min {
      width: 40px;
      margin-right: 22px; }

.partition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  .partition__logo {
    margin-top: 15px;
    height: 82px;
    width: 82px;
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10; }
  .partition__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 170px; }
    .partition__header:hover * {
      display: block;
      z-index: 10;
      stroke: #a350bc; }
  .partition__wrap {
    position: absolute;
    display: none;
    width: 320px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
  .partition__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 120px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center; }
    .partition__title:hover + .partition__list {
      display: block; }
  .partition__list {
    position: absolute;
    display: none;
    z-index: 10;
    top: 165px;
    width: 320px;
    padding: 0 30px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px dashed #a350bc;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    /*
        &:hover {
            display: block;
        }
        */ }
  .partition__item {
    text-align: center;
    padding: 10px;
    font-size: 14px; }

.partition-adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  width: 100%; }
  .partition-adv__logo {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10; }
  .partition-adv__header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px; }
    .partition-adv__header:hover * {
      display: block;
      z-index: 10;
      stroke: #a350bc; }
  .partition-adv__wrap {
    position: absolute;
    display: none;
    width: 320px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); }
  .partition-adv__title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 120px;
    margin-top: 25px;
    font-size: 14px;
    text-align: center; }
    .partition-adv__title:hover + .partition__list {
      display: block; }
  .partition-adv__list {
    position: absolute;
    display: none;
    z-index: 10;
    top: 165px;
    width: 320px;
    padding: 0 30px;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.9);
    border-top: 1px dashed #a350bc;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    /*
        &:hover {
            display: block;
        }
        */ }
  .partition-adv__item {
    text-align: center;
    padding: 10px;
    font-size: 14px; }

.advert-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 210px;
  border: 1px solid #d4d4d4;
  border-radius: 4px; }
  .advert-one__img-wrap {
    width: 210px;
    height: 147px; }
  .advert-one__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 210px;
        flex-basis: 210px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 675px;
    padding: 10px; }
  .advert-one__title {
    margin-bottom: 5px;
    width: 190px;
    font-size: 14px;
    font-weight: bold; }
  .advert-one__partition {
    display: none;
    font-size: 12px; }
  .advert-one__bidding {
    display: none;
    font-size: 12px; }
  .advert-one__cost {
    margin-bottom: 10px;
    width: 190px;
    font-size: 14px;
    font-weight: bold;
    color: #a350bc; }
  .advert-one__currency {
    margin-left: 5px; }
  .advert-one__location {
    width: 115px;
    font-size: 12px; }
  .advert-one__date {
    width: 65px;
    font-size: 12px;
    text-align: right; }

.reg-form__agree-wrap {
  margin-top: 10px;
  max-width: 352px;
  padding-left: 33px; }

.reg-form__agree:checked + .reg-form__agree-label::before {
  background-color: #a350bc;
  -webkit-box-shadow: 0 0 0 1px #d4d4d4, inset 0 0 0 1px #a350bc;
          box-shadow: 0 0 0 1px #d4d4d4, inset 0 0 0 1px #a350bc; }

.reg-form__agree-label {
  font-size: 12px; }
  .reg-form__agree-label span {
    color: #a350bc; }
  .reg-form__agree-label::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 1px;
    width: 19px;
    height: 19px;
    border: 5px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px #d4d4d4, inset 0 0 0 1px #d4d4d4;
            box-shadow: 0 0 0 1px #d4d4d4, inset 0 0 0 1px #d4d4d4; }

.social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social__text {
    margin: 0;
    font-size: 20px;
    line-height: 20px; }
  .social__wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 225px;
    width: 100%; }
  .social__btn {
    font-size: 0;
    width: 35px;
    height: 35px; }

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 47px;
  margin-bottom: 35px;
  border: 1px dashed #d4d4d4;
  border-radius: 4px;
  max-width: 536px;
  width: 100%;
  padding: 40px 0; }
  .account__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    padding: 0 5px; }
  .account__title {
    margin: 0;
    margin-bottom: 27px;
    font-size: 14px;
    font-weight: 300; }

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0; }

.site-nav__item {
  margin-right: 40px;
  margin-top: 7px;
  font-size: 14px; }
  .site-nav__item--active {
    border-bottom: 1px solid #a350bc; }
